# ─── OpenBao ───
VAULT_ADDR="https://openbao-vault.example.com:8200"
OPENBAO_ROLE_ID="exampleofroleidtoken"
OPENBAO_SECRET_ID="exampleofsecretidtoken"
OPENBAO_PATH="path/to/nic_ru"
OPENBAO_SQUADUS="path/to/squadus/creds"

# --- Verify new DNS TXT record parameters
MAX_ATTEMPTS=5
SLEEP_TIME=180